*{
    margin: 0;
    border: 0;
}

.logo{
    width: auto;
    height: 40px;
}

.card {
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

section {
    scroll-margin-top: 90px; 
}

